.column {
  flex-direction: column;
}

.row {
  flex-direction: row;
}

.array {
  list-style-type: none;
  display: flex;
  padding: 0rem;
}

.arrayElement {
  border: 2px solid var(--accent-color);
  padding: 0.5rem;
  background-color: white;
  text-align: center;
}
