.title {
  color: var(--accent-color);
}

.heapContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 1rem 2rem 1rem 2rem;
}

.section {
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
  justify-content: space-between;
  width: 80vw;
  background-color: var(--foreground-color);
  padding: 1rem;
  border-radius: 5px;
  margin-top: 1rem;
}

.modeKnob {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.result {
  text-align: center;
}

.heapVisualizer {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: space-between;
  align-items: stretch;
  margin-block: 1rem;
  max-height: 70vh;
}

.representationContainer {
  overflow: auto;
  flex: 1;
  display: flex;
  flex-direction: column;
  padding-inline: 1rem;
  align-items: center;
}

.array {
  list-style-type: none;
}

.arrayElement {
  border: 2px solid var(--accent-color);
  padding: 0.5rem;
  background-color: white;
  text-align: center;
}

.treeContainer {
  background-color: white;
}

.tree {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 2rem;
}

.tree::-webkit-scrollbar {
  display: none;
}

.level {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.node {
  margin: 0.5rem;
  border-radius: 10px;
  text-align: center;
}

.lila {
  background-color: var(--secondary-color);
  border-color: var(--secondary-color);
  box-shadow: 2px 1px var(--foreground-color);
}

.pink {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
  box-shadow: 2px 1px var(--foreground-color);
}

.blue {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
  box-shadow: 2px 1px var(--foreground-color);
}

@media screen and (max-width: 1024px) {
  .heapVisualizer {
    flex-direction: column;
  }
}
